/**
 * General CSS File
 * Contains defaults and presets of general elements.
 *
 * The Idea is to keep editing in this file to a
 * minimum while using vars.scss for very basic styling.
 *
 * @author      Flurin Dürst
 * @version     1.11.0
 * @since       WPSeed 0.1
 *
 */

@import 'vars';
/*==================================================================================
  GENERAL
==================================================================================*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  -webkit-tap-highlight-color: transparent;
}

html {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: $html__fontname;
  font-size: $base_size;
  @include vpw_min($scaling_endpoint) {
    font-size: $scaling_endpoint / 100 * stripunit($base_size);
  }
  @include mobile {
    font-size: $base_size_mobile;
  }
  color: $html__textcolor;
  background-color: $html__bgcolor;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body  {
  // used as wrapper for sticky footer
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  @include mobile {
    font-size:$body__fontsize;
  }
  @include tablet {
    font-size:$body__fontsizetablet;
  }
  font-size: $body__fontsizedesktop; // actual font size
  font-weight: $body__fontweight;
  line-height: $body__lineheight;
  .slider-contain {
    display:none;
  }
  .top {
    display:none;
  }
  &.home {
    .top.home-top {
      @include mobile {
            display:block;
      }
    }
  }
  &.post {
    .top {
      display:block;
    }
    background: $color__black;
    .slider-contain {
      display: block;
      @include desktop {
        margin-top: calc(100px + 4rem);
      }
      @include tablet {
        margin-top: calc(100px + 2rem);
      }
      @include tabletPortrait {
        margin-top:30vw;
      }
    }
  }
  &.menu {
    background: white;
    .top {
      display:none;
    }
  }
}

// add margin to first div
// .top:not(.home-top) + div {
//   @include desktop {
//     margin-top: calc(100px + 4rem);
//   }
//   @include tablet {
//     margin-top: calc(100px + 2rem);
//   }
//   @include tabletPortrait {
//     margin-top:30vw;
//   }
// }

a {
  color: $a__linkcolor;
  text-decoration: $a__textdecoration;
  transition: $transition_fast;
  &:hover {
    color: $a__hovercolor;
  }
}

.no-padding {
  padding:0!important;
}

.left-aligned {
  text-align: left;
}


/*==================================================================================
  PRESETS
==================================================================================*/

// defaut wowjs div
.wow {
  visibility: hidden;
}

// anchor div to fix .top overlap when navigation through 'domain.tld/#anchor'
.anchor {
  display:block;
  height: 4rem; // = height of .top
  margin-top: -4rem;  // = height of .top
}

.slider {
  margin: 0vw 0 2vw 0;
}

.slider-contain {
  width: 100vw;
  position: relative;
  left: 0;
}

.slick-track {
  overflow:hidden;
  max-height: 27vw;
  //transform:none!important;
}

.slick-list{
  background: red;
  padding-left: 50px;
  border-top: 1px solid red;
  border-bottom: 1px solid red;
}

.slick-slide{
//  min-width:40vw;
  }
  .slide {
    width:100%;
    display:block;
    min-height:27.25vw;
    width:100%;
    &.video-slide {
      // width: 100%;
      // height:100%;
      // overflow:hidden;
      // background: transparent;
      // background-repeat: no-repeat;
      position:relative;
      max-height:28vw;
      min-width:50vw;
      background-color: black;
      #vid{
        top: 50%;
        left: 50%;
        background-repeat: no-repeat!important;
        background-size: contain!important;
        position: absolute;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        min-width: 60%;
        min-height: 60%;
        max-width: 100%;
      }
    }
    .slide-inner {
      background-size: cover;
      min-height: 35vw;
    }
  }

  .slider {
      display: none;
  }

// .slider {     visibility:hidden;
//     transition:opacity 2s ease-out; }
// .slider.slick-initialized {     visibility:visible;
//     transition:opacity 2s ease-out; }

.next-page {
  position: relative;
  width: 26px;
  height: 26px;
  color: white;
  z-index: 9999;
  text-align: right;
  left: calc(100% - 26px);
  &:hover {
    cursor:pointer;
  }
  .arrow {
    background-size: contain;
    background-image: url(images/arrow.png);
    max-width: 100%;
    height: 100%;
  }
}

.slick-prev {
  left:1rem;
  &::before {
      content:url(images/arrow-left.png);
  }
}

.slick-next {
  right:1rem;
  &::before {
      content:url(images/arrow-right.png);
  }
}
.slick-prev, .slick-next {
  position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: 0 0;
    color: transparent;
    top: 24vw;
    -webkit-transform: none;
    transform: none;
    padding: 0;
    border: none;
    outline: 0;
    z-index: 9999999;
}

#video-controls {
  z-index: 999;
  position: absolute;
  bottom: 0;
  width: calc(100% - 4vw);
  left: 0;
  right: 0;
  margin: 1vw 2vw;
  @include mobile {
    margin: 2vw 2vw;
  }
  color:white;
  #play-pause, #full-screen {
    color:white;
    &:hover {
      cursor:pointer;
    }
  }
  #full-screen {
    position:absolute;
    top:-24vw;
    @include tablet {
      font-size: $body__fontsizedesktop;
    }
    @include mobile {
      font-size: $body__fontsizedesktop;
    }
      font-size: $body__fontsizedesktop;
  }
   #seek-bar, #volume-bar {
    @include mobile {
      display:none;
    }
  }

    #play-pause {
      @include mobile {
        position:absolute;
        font-size:3em;
        top:-25vw;
        left:calc(50vw - 0.5em);
      }
    }
    #time-stamp {
      @include mobile {
        position:absolute;
        right:0;
        font-size: $body__fontsizedesktop;
      }
      @include tablet {
        font-size: $body__fontsizedesktop;
      }
    }

    /*Chrome*/
  @media screen and (-webkit-min-device-pixel-ratio:0) {
      input[type='range'] {
        overflow: hidden;
        -webkit-appearance: none;
        background-color: #525252;
        height:12px;
        width:60px;
        @include tablet {
          width:50px;
        }
        &:first-of-type {
          width:280px;
          height: 4px;
          @include tablet {
            width:250px;
          }
        }
      }

      input[type='range']::-webkit-slider-runnable-track {
        height: 6px;
        -webkit-appearance: none;
        color: blue;
        margin-top: -1px;
      }

      input[type='range']::-webkit-slider-thumb {
        width: 1px;
        -webkit-appearance: none;
        height: 11px;
      //  cursor: ew-resize;
        background: #fff;
        box-shadow: -280px 0 0 280px #fff;
        @include tablet {
          box-shadow: -250px 0 0 250px #fff;
        }
      }
  }
  /** FF*/
  input[type="range"]::-moz-range-progress {
    background-color: #fff;
  }
  input[type="range"]::-moz-range-track {
    background-color: #525252;
  }
  /* IE*/
  input[type="range"]::-ms-fill-lower {
    background-color: #fff;
  }
  input[type="range"]::-ms-fill-upper {
    background-color: #525252;
  }
}

.arrow-contain {
  width: calc(100vw - 50px);
  bottom: 1rem;
  position: relative;
  margin: 0 auto;
  @include mobile {
    position:fixed;
    z-index:9999;
    top:1rem;
    right:1rem;
    max-height:50px;
    max-width:50px;
  }
}
.top.home-top {
  background-color: transparent;
  border:none;
  box-shadow: none;
  z-index:999999;
}
.home {
  overflow: hidden;
  height: 100vh;
  position:relative;
  top:0;
  bottom:0;
  left:0;
  right:0;
  .bio {
    position: absolute;
    z-index: 99999;
    top: 0;
    height: 100%;
    color: white;
    font-size: $body__fontsizetablet;
    padding:0 1rem;
    @include desktop {
      padding: 10vw 15vw 0 15vw;
      font-size: $body__fontsizetablet;
    }
    @include mobileLandscape {
      padding-top: 10vw;
      font-size: $body__fontsizedesktop;
    }
    a {
      font-weight:800;
      text-decoration: underline;
      color:white;
    }
    .logo {
      width: auto;
      min-width: 100px;
      height: 100px;
      background-image: url('images/logo_center.svg');
      background-size: contain;
      background-repeat: no-repeat;
      @include desktop {
        margin-top:5vw;
      }
    }
  }
}

.menu-container {
/*TODO: Make responsive*/
  width: 100vw;
  padding: 0 1rem;
  @include desktop {
      padding: 0 7rem;
      font-size: 0.7rem;
      line-height: 0.7;
  }
}
